
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");}
.box{
  width: 30vw;
  min-width: 350px;
  height: 60vh;
  min-height: 300px;
  max-height: 350px;
  border: 1px solid white;
  border-radius: 0 0 10px 2px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #487346;
  border-radius: 10px;
  font-size: 3.3rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.weapons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.weapons div i{
  font-size: 80px;
  cursor: pointer;
}

#text {
  text-align: center;
  font-size: 38px;
  width: 100%;
  margin: auto;
}

.bottom{
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  font-weight: 800;
  display: none;
  cursor: pointer;
  animation: reset 3s infinite;
}

.play{
  font-weight: 800;
  cursor: pointer;
}

.bar-container {
  position: absolute;
  width: 140px;
  height: 18px;
  border: 2px solid #487346; 
  bottom: 30%;
  background: transparent;
}

.hum-bar-container {
  border-bottom-right-radius: 10px;
  left: -3%;
}

.comp-bar-container {
  border-bottom-left-radius: 10px;
  right: -3%;
  
}

.bar {
  position: absolute;
  width: 0;
  height: inherit;
  transition: 0.3s linear;
  z-index: 2;
}

.humbar {
  background: #487346;
  border-bottom-right-radius: 10px;
  height: 100%;
}

.compbar {
  top: 0;
  right: 0;
  background: #487346;
  height: 100%;
  border-bottom-left-radius: 10px;
}


.weapons div{
  border-radius: 4px;
  padding-bottom: 15px;
}

@keyframes win {
	0% {
			 transform: rotate(0deg)
  }
	50% {
			transform: rotate(35deg)
	}
  100% {
    transform: rotate(0deg)
  }
}

@keyframes loss {
	0% {
					transform: rotate(0deg)
	}
	50% {
					transform: rotate(-35deg)
	}
  100% {
    transform: rotate(0deg)
  }
}

@keyframes tie {
	0% {
    transform: translate(0, 0)
  }
  50% {
      transform: translate(0, -15px)
    }
  100% {
  transform: translate(0, 0)
  }
}

@keyframes reset {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}
